<%= form_for @project do |f| %>
	<% if @project.errors.any? %>
		<h2><%= pluralize(@project.erros.count, "error") %> prevented this project from saving:</h2>
		<ul>
			<% @project.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<%= f.label :title, "프로젝트 명" %><br>
	<%= f.text_field :title, :placeholder => "프로젝트에 제목을 입력해주세요." %>

	<br><br>

	<%= f.label :description, "프로젝트 내용" %><br>
	<%= f.text_area :description, :placeholder => "프로젝트에 대해서 기술해주세요." %>

	<br><br>

	<%= f.label :link, "프로젝트 링크" %><br>
	<%= f.text_field :link, :placeholder => "링크를 입력해주세요." %>

	<br><br>

	<%= f.submit %>

<% end %>