<!DOCTYPE html>
<html>
<head>
  <head>
	<title>Junee01 - 개발자 Junee01 포트폴리오</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Junee01 - Sangjun Park", root_path, class: "name" %>
		<nav>
			<%= link_to "포스팅", posts_path %>
			<%= link_to "프로젝트", projects_path %>
			<%= link_to "문의하기", new_contact_path %>
			<% if user_signed_in? %>
				<%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "로그인", new_user_session_path %>
			<% end %>
		</nav>
	</header>

	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif alert %>
	       <p class="alert"><%= alert %></p>
	<% end %>

	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy 2016 Junee01 - Sangjun Park<p>
		<nav>
			<a href="https://www.instagram.com/junee.junee/" target="_blank"><i class="fa fa-instagram"></i></a>
			<a href="https://www.facebook.com/sangjun.park.370" target="_blank"><i class="fa fa-facebook"></i></a>
			<a href="https://github.com/Junee01" target="_blank"><i class="fa fa-github"></i></a>
			<a href="https://www.youtube.com/watch?v=IIcLVt54niM" target="_blank"><i class="fa fa-youtube"></i></a>
		</nav>
	</fotter>

</body>
</html>
